{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "@typhonjs-fvtt/eslint-config-foundry.js",
    "plugin:prettier/recommended",
    "plugin:svelte/prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": [
        "tests/**/*",
        "playwright*"
      ],
      "env": {
        "node": true
      }
    }
  ],
  "globals": {
    "$": true
  }
}