dist
*.less
*.css
*.sass
*.scss

node_modules
yarn.lock
.vscode/**
tsconfig.json
svelte.config.mjs
vite.config.js
wdio.conf.js


*.md
LICENSE


tests/*
coverage/*

playwright*
*.log

/stats.html

*.json