{
  "all": false,
  "check-coverage": false,
  "extension": ["*.ts", "*.mjs", "*.svelte"],
  "include": ["src/**/*"],
  "exclude": ["obs-utils/node_modules/**/*"],
  "reporter": ["text", "html"],
  "exclude-after-remap": false
}
