{
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "overrides": [{"files": "*.svelte",
    "options": {
      "parser": "svelte"
    }
  }
  ]
}