@import 'streamoverlay.styl';

@import 'rolloverlay.styl';

.overlay-renderer {
  left: 320px;
  position: absolute;
}

.obs-utils.overlay {
  img {
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    height: fit-content;
    width: fit-content;
  }
  .multi-image-component {
    display: flex;
    flex-direction: row;
  }
}
.obs-utils.roll-overlay {
  .roll.layer {
    position: relative;
    span {
      position: absolute;
      color: red;
      top: 50%;
      left: 50%
      transform: translate(-50%, -50%);
    }
  }
}


