.obs-utils.roll-overlay
  color white
  margin 20px
  padding 5px

  .display-area
    display grid
    height 250px
    width 250px
    align-items center
    justify-items center

    .layer
      grid-column-start 1
      grid-row-start 1
