.transparent-bg {
  background-color: transparent!important;
}

.obs-utils.overlay {
  color: white;

  .actor {
    margin: 20px;

    .single-line-overlay {
      display: flex;
      margin-top: 20px;

      .component {
        padding: 5px;
      }
      .multi-icon-component{
        display: flex;
      }
    }
  }
}
