body.stream {
  background-color: transparent;
}

div.stream-overlay {
  color: white;
  position: absolute;
}

div.obsutils.overlay {
  margin: 20px;
}

div.overlay .text-overlay {
  margin-top: 20px;
  display: flex;
}

div.overlay .text-overlay .component {
  padding: 5px;
}
