<div class="obsdirector">
<b>In Combat Type</b>
<div>
    {{#each ic as | button |}}
    <input type="radio" id="radioic{{button.id}}" name="ic" value="{{button.id}}" {{#ifEquals button.id ../currentIC}} checked {{/ifEquals}} />
    <label for="radioic{{button.id}}" title="{{button.tooltip}}"><i class="{{button.icon}}"></i></label>
    {{/each}}
</div>
<hr>
<b>Out of Combat Type</b>
<div>
    {{#each ooc as | button |}}
    <input type="radio" id="radioooc{{button.id}}" name="ooc" value="{{button.id}}" {{#ifEquals button.id ../currentOOC}} checked {{/ifEquals}}/>
    <label for="radioooc{{button.id}}" title="{{button.tooltip}}"><i class="{{button.icon}}"></i></label>
    {{/each}}
</div>
<div>
<hr>
<b>Tracked Player</b>
<hr>
<select name="trackedPlayer">
    {{#each players as | player |}}
    <option value="{{player.id}}">{{player.name}}</option>
    {{/each}}
</select>
</div>
</div>